/*Variable Declaration..*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*Aller Font declaration*/
@font-face {
  font-family: Aller;
  src: url("Aller/Aller_Lt.ttf");
  font-weight: inherit;
}
@font-face {
  font-family: Aller-Bold;
  src: url("Aller/Aller_Bd.ttf");
  font-weight: inherit;
}
@font-face {
  font-family: Aller-Regular;
  src: url("Aller/Aller_Rg.ttf");
  font-weight: inherit;
}
/*...Master file styles.. */
body {
  background-color: #ddd;
  font-family: "Aller";
}
.guru-btn {
  background-color: #599ADD;
  border: none;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #d9534f;
}
.container-fluid .row .left-container {
  float: left;
  background: #000;
  height: 100%;
  transition: all 0.5s ease;
  color: #fff;
  padding: 15px 0px;
}
.container-fluid .row .left-container.hidden-menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.5s, opacity 0.5s linear;
}
.container-fluid .row .left-container .signup {
  padding: 0px 40px;
}
.container-fluid .row .left-container .signup > a {
  width: 100%;
}
.container-fluid .row .left-container .left-menu {
  padding: 40px 0px;
}
.container-fluid .row .left-container .left-menu ul.top-list > li > a {
  display: block;
  padding: 13px 15px;
  border-top: 1px solid #ddd;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.container-fluid .row .left-container .left-menu ul.top-list > li.embeded-list {
  border-top: 1px solid #ddd;
  padding-bottom: 60px;
}
.container-fluid .row .left-container .left-menu ul.top-list > li.embeded-list ul > li:first-child a {
  padding-top: 20px;
}
.container-fluid .row .left-container .left-menu ul.top-list > li.embeded-list ul > li a {
  display: block;
  padding: 9px 10px;
}
.container-fluid .row .right-container {
  float: left;
  background-color: #DDD;
  height: 100em;
  position: fixed;
  padding: 0px;
  left: calc(100% - 75%);
  background: linear-gradient(rgba(165, 189, 180, 0.33), rgba(165, 189, 180, 0.33)), url('/img/1.jpg') no-repeat center center fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.5s ease;
}
.container-fluid .row .right-container.no-left {
  transition: all 0.5s ease;
  left: 0px;
  width: 100%;
}
.container-fluid .row .right-container .top-menu {
  background-color: #1D3B66;
  color: #fff;
  padding: 15px;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu {
    padding: 5px 50px 3px 150px;
  }
}
.container-fluid .row .right-container .top-menu .site-phrase {
  display: none;
  text-align: center;
  position: relative;
  bottom: 8px;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu .site-phrase {
    display: inline-block;
  }
}
.container-fluid .row .right-container .top-menu .site-phrase img {
  height: 25px;
}
.container-fluid .row .right-container .top-menu .title {
  display: block;
  font-size: 40px;
  text-align: center;
  font-family: 'Aller-Regular';
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu .title {
    padding: 0 30% 0 20%;
    display: inline-block;
    margin: 0;
    border: none;
  }
}
.container-fluid .row .right-container .top-menu .title i {
  color: #F44336;
}
.container-fluid .row .right-container .top-menu .operator-span {
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu .operator-span {
    position: relative;
    display: inline-block;
  }
}
.container-fluid .row .right-container .top-menu .operator-span .become-operator {
  font-size: 12px;
  display: block;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu .operator-span .become-operator {
    display: inline-block;
  }
}
.container-fluid .row .right-container .top-menu .operator-span .become-operator > button.guru-btn {
  font-size: 9px;
  margin: 0 auto;
  display: block;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .top-menu .operator-span .become-operator > button.guru-btn {
    width: 80%;
  }
}
.container-fluid .row .right-container .bottom-menu {
  background: rgba(165, 189, 180, 0.7);
  color: #fff;
  border-bottom: 1px solid #fff;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left {
  width: 70%;
  padding: 0px 0px 0px 50px;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu {
  font-size: 20px;
  font-family: "Aller-Regular";
  padding: 15px 0px;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu span {
  color: #000;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu-desc {
  font-size: 14px;
  padding: 20px 25px 0px 30px;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu-title {
  font-size: 40px;
  text-align: center;
  font-family: "Aller-Bold";
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu-title a {
  text-decoration: none;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-left .menu-title a:hover {
  color: #d9534f;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right {
  width: 100%;
  padding: 5px 15%;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right ul {
  margin: 0 auto;
  display: block;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .bottom-menu .bottom-menu-right ul {
    margin-bottom: 0px;
    display: inline-block;
  }
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right ul li {
  width: 45%;
  text-align: center;
}
@media (min-width: 840px) {
  .container-fluid .row .right-container .bottom-menu .bottom-menu-right ul li {
    width: auto;
    text-align: justify;
  }
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right ul li:first-child {
  border-right: 1px solid #d9534f;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.container-fluid .row .right-container .bottom-menu .bottom-menu-right ul li a:hover {
  color: #d9534f;
}
.container-fluid .row .right-container .footer {
  text-transform: uppercase;
  font-size: 12px;
}
.container-fluid .row .right-container .footer a {
  color: #4C4C4C;
}
#home-trip-form {
  padding: 20px 0px;
}
#home-trip-form .has-feedback span.form-control-feedback {
  top: 0px;
  text-align: center;
  color: #555;
  font-size: 25px;
}
